# Mobile Tools for Java (J2ME)
.mtj.tmp/

agendator2000/out/*
Agendator2000.ids
Agendator2000.iws
agendator-log.txt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
